.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  grid-template-areas:
    "title title"
    "form description";
  gap: 1em;
}

.title {
  grid-area: title;

  display: flex;
  justify-content: center;
}

.description {
  grid-area: description;

  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px silver;
  padding: 10px;
  background-color: whitesmoke;
}

.form {
  grid-area: form;

  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px silver;
  padding: 10px;
  background-color: whitesmoke;
}