.hero {
  background-image: url("/src/assets/hero_bg_1.jpg");
  height: 100vh;
  position: relative;
}

.hero h1 {
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 1.3;
  font-weight: 700;
}

.hero h2 {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-weight: 300;
  font-family: "Quicksand", Arial, sans-serif;
}


.innerText {
  padding: 2.5em;
}


.porfolioBtn {
  position: absolute;
  bottom: 2.5em;
  left: 2.5em;
  padding: 1rem;
  color: black;
  border: 1px solid silver;
  background: transparent !important;
}