.hero {
  height: 500px;
  display: flex;
  color: white;
  align-items: center;
  padding: 50px;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1528&q=80');
  background-blend-mode: multiply;
  background-position: center;
}

.hero h1 {
  text-shadow: 1px 1px 1px black;
  font-size: 5rem;
}

.left {
  flex: 1;
}

.right {
  flex: 2;
}