.container {
  width: 100%;
  height: 100%;
}

.aside {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  line-height: 2;
  color: rgba(0, 0, 0, 0.7);
  padding-top: 3em;
  padding-bottom: 50px;
  width: 300px;
  position: fixed;
  overflow-y: scroll;
  z-index: 1001;
  background: #f2f3f7;
  transition: 0.5s;
  height: 100%;
}

.signIn {
  color: #2c98f0;
  cursor: pointer;
}

.author {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.author a,
.adminPanel a {
  color: #2c98f0;
  font-weight: bold;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("/src/assets//avatar.jpg");
  background-position: center;
  background-size: cover;
}

.navbar ul li {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  transition: 0.5s ease;
}

a:hover {
  text-decoration: underline #2c98f0;
}

.social p i {
  font-size: 0.8rem;
}