.app {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "hero"
    "main"
    "footer";
}

.header {
  grid-area: header;
}

.hero {
  grid-area: hero;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}