.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.form * {
  margin-bottom: 5px;
}

.form input {
  outline: none;
  border: 1px solid silver;
  transition: 0.2s ease-in;
  width: 80%;
  height: 2rem;
  border-radius: 10px;
  padding: 0 1rem;
}

.form input::placeholder {
  color: silver;
}

.form input:focus {
  border-color: cornflowerblue;
}

.form input[type=textarea] {
  height: 5rem;
}

.form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 30px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 2px silver;
}

.form button:active {
  transform: scale(0.98);
}