.container {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.7);
  padding: 2.5em;
}

.description {
  text-transform: uppercase;
}

.porgressContainer {
  display: flex;
  flex-direction: column;
}

/* FIXME Улучши отображение! */
.progressWrap { 
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  margin-bottom: 2rem;
}

.progress {
  height: 6px;
  box-shadow: none;
  background: #f2f3f7;
  overflow: visible;
}

.progressBar {
  width: 75%;
  height: 6px;
  background: #2c98f0;
}