.app {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Header Header Header"
    "hero hero hero"
    "main main main"
    "footer footer footer"; 
}
.header { grid-area: Header; }
.hero { grid-area: hero; }
.main { grid-area: main; }
.footer { grid-area: footer; }