.post {
  height: 300px;
  padding: 10px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px silver;
  position: relative;
}

.more {
  display: flex;
  color: black;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 1px 1px silver;
  border-radius: 10px;
  background-color: var(--main-white-color);
  width:150px;
  height: 50px;
  transition: 0.2s ease-in;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.more:hover {
  color: white;
  background-color: var(--main-dark-color);
}

/* TODO Доработать, чтобы по клику было выделение поста! */
.post:active { 
  border: 1px solid cornflowerblue;
}