.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "content"
  "content"
  "description";

  gap: 1rem;
}

.content {
  grid-area: content;
}

.description {
  text-align: center;
  grid-area: description;
}