.container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar dashboard"
    "footer footer";
  grid-gap: 10px;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 50px 1fr 400px;
  background-color: #f2f3f7;
  color: rgba(0, 0, 0, 0.7);
}

.footerContainer {
  grid-area: footer;
}