.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  color: #B7B7B7;
  background-color: rgb(245,249,252);
  border-top: 1px solid silver;
}

.upper {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.bottom {
  padding: 50px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 5px;
  grid-template-areas: 
  ""
  "time";
  background-color: rgb(37,37,38);
}

.social {
  display: grid;
  /* FIXME Подумать еще над этим */
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}

.social i {
  font-size: 3rem;
}

.time {
  padding-top: 50px;
}