.aside {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: 
  "author"
  "navbar"
  "social";
  gap: 1rem;

  align-items: center;
  justify-items: center;

  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: 2;
  color: rgba(0, 0, 0, 0.7);
  width: 300px;
  position: fixed;
  overflow-y: scroll;
  z-index: 1001;
  background: #f2f3f7;
  transition: 0.5s;
  height: 100%;
}


.author {
  grid-area: author;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.author a,
.adminPanel a {
  color: #2c98f0;
  font-weight: bold;
}

.author .signIn {
  color: #2c98f0;
  cursor: pointer;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("/src/assets/avatar.jpg");
  background-position: center;
  background-size: cover;
}

.navbar {
  grid-area: navbar;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar ul li {
  text-transform: uppercase;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  transition: 0.5s ease;
}

a:hover {
  text-decoration: underline #2c98f0;
}

.social {
  grid-area: social;
  padding: 1rem;
}

.social p i {
  font-size: 0.8rem;
}