.container {
  position: absolute;
  top: 50px;
  right: -30%;
  width: 30%;
  max-width: 300px;
  height: 100vh;
  transition: 0.5s ease-in;
  overflow: hidden;
  background-color: rgb(32,66,226);
  border-end-start-radius: 90%;

  display: flex;
  justify-content: end;
  /* padding: 5% 0; */
}

.isOpen {
  right: 0;
}

@media (max-width: 768px) {
  .nav {
    flex: 2;
  }
  .navContainer {
    display: none;
  }
  .menu {
    display: block;
  }
}